body{
    background-color: rgb(27, 27, 27);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.miniature{
    width: 300px;
    padding: 7px;
    border-radius: 10px;
    transition: 0.1s;
}
.miniature:hover{
    background-color: rgba(255, 255, 255, 0.233);
}

.miniature .headerImg{
    width: 100%;
    border-radius: 10px;
}
.miniature .title{
    font-size: 25px;
    margin-bottom: 0px;
}
.miniature .desc{
    color: rgb(188, 188, 188);
    font-size: 13px;
    margin-bottom: 0px;
}

.short{
    width: 250px;
    padding: 7px;
    border-radius: 10px;
    transition: 0.1s;
    position: relative;
    display: inline-block;
}
.short .shortImg{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.short::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.1s;
}
.short:hover::after{
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
}